// ====== ⚙️ [REGLAGES GLOBAUX] : Paramétrages globaux des balises ======

// Paramétrage de la taille du body, son background, ...
body {
  width: 100dvw;
  min-height: 100dvh;
  background: $black;
  overflow-x: hidden;
}

// Paramétrage des liens
a,
a:visited {
  color: $color;
  font-family: $text;
  font-size: 1.3rem; //FIXME Attention à la font-size
}

// Paramétrage du texte : Titres (H1, H2, H3) et paragraphes
h1 {
  color: $color;
  font-family: $titre;
  font-weight: 800;
  font-size: 3rem; //FIXME Attention à la font-size
}
h2 {
  color: $color;
  font-family: $titre;
  font-weight: 700;
  font-size: 2rem; //FIXME Attention à la font-size
}
p {
  color: $white;
  font-family: $text;
  padding: 5px 0;
}

// Partie de texte à afficher en monospace
.code {
  color: $white;
  font-family: $code;
}
