// ====== 🔠 [FONTS] : Import des fonts utilisées ======

// Polices pour les titres, les boutons, ...
@font-face {
  font-family: 'Orbitron';
  src: url(../fonts/Orbitron-VariableFont_wght.ttf);
  font-display: swap; //Pour éviter les décalages de mise en page
}

// Police de base pour le texte
@font-face {
  font-family: 'IBM Plex Sans';
  src: url(../fonts/IBMPlexSans-VariableFont_wdth-wght.ttf);
  font-display: swap; //Pour éviter les décalages de mise en page
}

// Police pour les blocs de code
@font-face {
  font-family: 'JetBrains Mono';
  src: url(../fonts/JetBrainsMono-VariableFont_wght.ttf);
  font-display: swap; //Pour éviter les décalages de mise en page
}
