// ====== 🧩 [MIXINS] : Blocs de code utilisable avec ou sans variable

// Centrer un élément unique dans son conteneur
@mixin centerChild {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Aligner plusieurs éléments
@mixin alignChildren($justify: space-between) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

// Centrer un bloc avec largeur contenue
@mixin maxWidth($margin: 0) {
  width: 85%;
  max-width: 1200px;
  margin: $margin auto;
}

// Mixin responsive
@mixin respond($key) {
  $value: map-get($breakpoints, $key);
  @if $value {
    @media (max-width: $value) {
      @content;
    }
  } @else {
    @warn "⛔️ Breakpoint `#{$key}` non défini dans la map !";
  }
}
