// ====== 🧩 [CURSOR] : Curseur avec un petit train ======

#cursor {
  // 📏 Width et Height responsive !!!
  height: clamp(15px, calc(0.9375rem + ((1vw - 3.2px) * 0.4464)), 20px);
  width: clamp(7.5px, calc(0.46875rem + ((1vw - 3.2px) * 0.2232)), 10px);
  min-height: 0vw;

  background: $white;
  animation-duration: 1s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;

  // Petit train
  svg {
    // 📏 Width et Height responsive !!!
    height: clamp(21px, calc(1.3125rem + ((1vw - 3.2px) * 0.625)), 28px);
    min-height: 0vw;
    width: auto;
    transform: translateX(10px);
  }
}

// Animation pour faire clignoter le petit train
@keyframes clignoter {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
