/* *----------PARAMETRES GENERAUX----------* */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100dvw;
  height: 100dvh;
  background: var(--background-color-primary);
  overflow-x: hidden;
}

li {
  list-style: none;
}

a,
a:visited,
.link {
  text-decoration: none;
  color: var(--color-accent-primary);
  font-family: var(--font-text);
}

.titre {
  font-family: var(--font-title);
}

h1 {
  color: var(--color-accent-primary);
  font-weight: 800;
}

h2 {
  color: var(--color-text-primary);
  font-weight: 700;
  padding: clamp(20px, 1.25rem + (1vw - 3.2px) * 0.8929, 30px) 0;
}

p {
  color: var(--color-text-primary);
  font-family: var(--font-text);
  padding: 5px 0;
}

.code {
  color: var(--color-text-primary);
  font-family: var(--font-code);
}

/* *----------STYLE DU HEADER----------* */
.desktop {
  height: 100%;
}

.header-text-container,
.desktop-icons-container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  padding: clamp(20px, 1.25rem + (1vw - 3.2px) * 1.7857, 40px);
}

@media (max-width: 1024px) {
  .header-text-container,
  .desktop-icons-container {
    width: 100%;
  }
}

#replay {
  display: inline-block;
}
#replay:hover {
  transform: scale(1.1);
}

.desktop-icons-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 60px;
  margin-top: 0;
}

.desktop-icons-container > div {
  cursor: pointer;
}
.desktop-icons-container > div:hover {
  transform: scale(1.05);
}
.desktop-icons-container > div:hover img {
  box-shadow: var(--shadow-color);
}
.desktop-icons-container img {
  width: 60px;
}
