// ====== 🪗 Accordeon HACK : Ouverture des dossiers en accordéon ======

// Cacher les inputs RADIO
input[type='radio'] {
  display: none; // HACK pour créer l'accordéon sans JS
}

// Comportement du folder-content
.folder-content {
  //Closed Accordeon settings
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

// Opened Accodeon settings
input[type='radio']:checked + .folder .folder-content {
  max-height: 5000px;
}

// Rotation de l'icone quand le folder est ouvert
input[type='radio']:checked + .folder h2 label::before {
  transform: rotate(90deg);
}
