// ====== 🚦 [HEADER] : Conteneur principal de l’en-tête & styles associés ======

// Styles du header
header {
  .header-text-container {
    @include maxWidth(40px);
    padding: 20px;
    h2 {
      color: $white;
      padding: 30px 0;
    }
  }
}

// TEMP Il faudra réactiver le code suivant à la fin du développement
// Animation d'entrée
// header {
//   opacity: 0;
//   animation: fadeInSoft 1s ease-out 6.5s forwards;
// }
// @keyframes fadeInSoft {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }
