// ====== ✨ [INTRO ANIMATION] : Animation d’apparition du texte + curseur ======

.intro-animation {
  // TEMP Enlever cette ligne quand le dev sera terminé !
  // display: none;
  position: absolute;
  width: 100%;
  z-index: 100;
  background: $black;

  .intro-animation-container {
    height: 100dvh;
    @include centerChild;
    @include maxWidth;

    .intro-text-container {
      width: 100%;

      // 📏 Margin-left responsive !!!
      // desktop+ > 1024px
      margin-left: clamp(150px, calc(9.375rem + ((1vw - 10.24px) * 19.2308)), 230px);
      min-height: 0vw;
      // 770px < desktop < 1024px
      @include respond(desktop) {
        margin-left: clamp(100px, calc(6.25rem + ((1vw - 7.7px) * 19.685)), 150px);
      }
      // 480px < tablet < 770px
      @include respond(tablet) {
        margin-left: clamp(40px, calc(2.5rem + ((1vw - 4.8px) * 20.6897)), 100px);
      }
      // mobile < 480px
      @include respond(mobile) {
        margin-left: clamp(10px, calc(0.625rem + ((1vw - 3.2px) * 18.75)), 40px);
      }

      .flex {
        display: flex;
        align-items: center;

        .dotted {
          width: clamp(75px, calc(4.6875rem + ((1vw - 3.2px) * 31.25)), 350px);
          height: clamp(0.75rem, calc(0.75rem + ((1vw - 0.2rem) * 1)), 1.3rem);
          min-height: 0vw;
          border-bottom: 2px dotted $white;
        }
      }
    }
  }
}

// Animation : apparition des lignes une à une
.first,
.second,
.third,
.fourth,
.fifth,
#cursor {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

.second {
  animation-delay: 1s;
}
.third {
  animation-delay: 2s;
}
.fourth {
  animation-delay: 3s;
}
.fifth {
  animation-delay: 4s;
}
#cursor {
  animation-delay: 5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

// Cacher l'écran d'intro
.intro-animation {
  animation: hideIntro 1s ease-out 6s forwards;
  /* 5s de lecture, puis 5s d’attente avant de disparaître */
}

@keyframes hideIntro {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
