// ====== 🧩 [MAIN] : Styles principaux des sections et composants centraux ======

// Paramètres communs aux sections
@import './sections-folder';

// Accordeon Hack
@import './accordeon';

// Formulaire contact
@import '../components/form';

// ====== 🎞️ [ANIMATION D'ENTREE : Affichage retardé après l'anim d'intro]
//TEMP Il faudra remettre l'animation d'entrée
main {
  opacity: 0;
  animation: fadeInSoft 1s ease-out 7s forwards;
}
@keyframes fadeInSoft {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
